@charset "utf-8";
@import "normalize";

// Colors
$brand-primary: black;
$brand-primary-dark: black;

$font-color: white;
$font-size: 16px;

// Typography
$font: "Fira Mono", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Base styles / reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-size: $font-size;
  line-height: 1em;
  background-color: $brand-primary-dark;
  color: $font-color;
  text-align: center;
}

ul {
  padding: 2em;
  list-style: none;

  li {
    padding: .5em 0;
  }
}

.container {
  width: 20em;
  margin: auto;
}
