<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="Matei Curtasu – Creative Director – Nike, Google, adidas, Hornbach, AT&T, Fanta, CNN, Romanian Football Federation, Jägermeister, Mercedes-Benz, Netflix, Volkswagen, Amazon, SXSW, Publicis Copenhagen, Saatchi & Saatchi Moscow, BBDO New York, Hi-ReS! New York, Heimat\TBWA Berlin, Havas Worldwide New York, GMP Advertising Bucharest, Cannes Lions, Art Directors Club, Clio, One Show, Eurobest, D&AD, New York Festivals, Webby, Effie, Facebook Studio, Red Dot Design, FWA, LIA, Lürzer’s Archive, Epica, PIAF, Intercontinental Advertising Cup.">

  <title>Matei.nyc</title>

  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
</head>
